<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/35029770-6fa4-4921-bdbe-7d2c5ed31fbb/resourcegroups/IMEx_ResourceGroup/providers/Microsoft.Web/sites/IMExApi20230228160027</ResourceId>
    <ResourceGroup>IMEx_ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/35029770-6fa4-4921-bdbe-7d2c5ed31fbb/resourceGroups/IMEx_ResourceGroup/providers/Microsoft.ApiManagement/service/IMExApiDev/apis/IMExApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://imexapi20230228160027.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>63707d45-ae9a-446f-9304-2b30e2fe05ae</ProjectGuid>
    <MSDeployServiceURL>imexapi20230228160027.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>IMExApi20230228160027</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$IMExApi20230228160027</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>